.mainContainer {
    margin: 0;
    padding: 0;
    height: 31px;
    background-color: white;
}

.innerContainer {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    background-color: white;
    justify-content: baseline;
}



/* On screens that are  536px wide or less, the background color is blue */
@media all and (max-width: 536px) {

    .innerContainer {

        width: 100vw;

    }
}

.btn {
    float: right;
    background-color: white;
    height: 31px;
    border-style: none;
    outline: none;

    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600;
    color: rgb(28, 173, 173);
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(28, 173, 173);
    color: white;
    height: 31px;
    border-style: none;
    outline: none;
}